.subcategories,
.budgets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.categories_button {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 14px 28px;
    border: none;
    border-radius: 10px;
    color: #151515;
    cursor: pointer;
    transition: all .3s linear;
}

.categories_button:hover {
    transform: scaleY(1.02);
    letter-spacing: 1.5px;
}