.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.categories_title {
    font-size: 2rem;
    font-weight: 700;
    color: #151515;
}

.categories_button,
.form_button {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 14px 28px;
    border: none;
    border-radius: 10px;
    color: #151515;
    cursor: pointer;
    transition: all .3s linear;
}

.categories_button:hover,
.form_button:hover {
    transform: scale(1.05);
    letter-spacing: 2px;
}

.form {
    visibility: hidden;
    overflow: hidden;
    transition: all .25s linear;
}

.form.active {
    visibility: visible;
    overflow: auto;

    display: flex;
    flex-direction: column;
    gap: 6px;

    width: 480px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 24px 48px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

.form_label {
    color: #151515;
    font-size: 1.5rem;
    font-weight: 500;
}

.form_input {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 20px;
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 24px;
}

.form_button {
    background-color: aqua;
    align-self: center;
    margin-top: 1rem;
}

.categories_table {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categorie {
    display: flex;
    align-items: center;
    gap: 5px;
}

.categorie p {
    font-size: 1.25rem;
    font-weight: 500;
}

.buttons button {
    font-size: 1.35rem;
    font-weight: 300;
    padding: 6px 12px;
    border: none;
    border-radius: 10px;
    color: #151515;
    cursor: pointer;
    transition: all .3s linear;
}

.buttons button:hover {
    transform: scale(1.02);
    letter-spacing: 2px;
}