.footer {
    padding: 12px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    background: rgb(0, 64, 113);
    border-top: 2px solid #111;
}

.footer_social {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer_social img {
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.footer_social img:hover {
    transform: scale(1.15);
}

.footer_development {
    font-size: 1.25rem;
    font-weight: 500;
    color: #F5F5FF;
}

@media screen and (max-width: 860px) {
    .footer {
        flex-direction: column;
        gap: 16px;
    }

    .footer_social {
        gap: 32px;
    }

    .footer_development {
        font-size: 1.05rem;
    }
}