:root {
    --blur: blur(8px);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 12vh;
    padding: 8px;

    background: rgb(0, 64, 113);
    border-bottom: 2px solid #111;
}

.link {
    text-decoration: none;
    transition: all .3s linear;
    color: #F5F5FF;
}

.link:hover {
    color: #fdf93b;
}

#btn-mobile {
    display: none;
}

#menu {
    list-style: none;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 860px) {
    .header {
        justify-content: flex-end;
    }

    #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        position: absolute;
        width: 100%;
        height: 0;
        top: 12vh;
        right: 0;
        z-index: 1000;

        background-color: rgba(204, 204, 204, 0.836);
        -webkit-backdrop-filter: var(--blur);
        backdrop-filter: var(--blur);
        transition: all .5s linear;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: 100vh;
        visibility: visible;
        overflow-y: auto;
    }

    #btn-mobile {
        display: flex;
        padding: 1rem;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 0.4rem;
        background: #DDD;
        cursor: pointer;
    }

    .link {
        font-size: 1.5rem;
        font-weight: 500;
    }

    #hamburguer {
        width: 20px;
        border-top: 2px solid;
    }

    #hamburguer::after,
    #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background: currentColor;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -6.1px;
    }
}