.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.p {
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 500;
}

.list {
    list-style: decimal-leading-zero;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media screen and (max-width: 860px) {
    .home {
        width: 72%;
        gap: 24px;
    }

    .home_title {
        text-align: center;
    }

    .p {
        font-size: 1.1rem;
    }

    .list {
        gap: 8px;
    }
}